html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.list-disc {
  list-style-type: square !important;
}

:not(pre) > code {
  background-color: #424242;
  font-size: 16px;
  padding: 2px 6px;
  border-radius: 10px;
  font-weight: 600;
}

a > code {
  text-decoration: underline;
}

:not(pre) > h2 code {
  font-size: 1.5rem;
}

:not(pre) > h3 code {
  font-size: 1.3rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
