html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
  overflow-wrap: break-all;
  white-space: normal;
  background-color: #fff4e0;
  color: #4d4d4d;
}

a:hover {
  color: #aa3d3d;
}

:not(pre) > code {
  background-color: #fed7aa;
  padding: 4px;
}

/* article ul { */
  /* list-style: square; */
  /* margin-top: -1em; */
  /* margin-bottom: 1em; */
/* } */

@tailwind base;
@tailwind components;
@tailwind utilities;
